<div class="container h-100">
  <div class="row h-100">
    <div class="col col-sm-9 h-100 overflow-y pb-3">
      {{#each model.menu as |category|}}

        <div class="row bg-palette-gold panel panel-outline mt-4" id={{category.category}}>
          <div class="col">
            <h2><u>{{category.category}}</u></h2>
            {{#each category.menuItems as |menuItem|}}
              <div class="lead font-weight-bold">
                {{menuItem.menuId}} {{menuItem.name}} {{#if menuItem.price}}{{menuItem.price}}{{/if}}
              </div>
              <div class="ml-4 font-weight-light font-italic">
                {{menuItem.desc}}
              </div>
              {{#if menuItem.options}}
                {{#each menuItem.options as |option|}}
                  <div class="ml-4 font-weight-bold">
                    {{option.name}} {{option.price}}
                  </div>
                {{/each}}
              {{/if}}
            {{/each}}
          </div>
        </div>

      {{/each}}
    </div>
    <div class="col-sm-3 d-none d-sm-block">
      <div class="mt-4 bg-palette-grey panel panel-outline">
        {{#each model.menu as |category|}}
          <a href={{concat "#" category.category}} style="color:white;">
            <div class="py-2">{{category.category}}</div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
